@import "tailwindcss";

@theme {
  --color-mainBg: #0a0e12;
  --color-elevatedBg: #12171c;
  --color-hoverBg: #1a1f24;

  --color-textWhite: #e6e9ec;
  --color-textButton: #ffffff;
  --color-textMuted: #9aa0a6;

  /* yellow  */
  --color-accent: #ebff10;
  --color-highlight: #f4f870;
  --color-dimAccent: #d1e60a;
}

::-webkit-scrollbar {
  height: 0.5em;
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #0a0e12;
}

::-webkit-scrollbar-thumb {
  border-radius: 2.2em;
  background: #222;
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
