@import "tailwindcss";

@theme {
  --color-mainBg: #0a0e12;
  --color-elevatedBg: #12171c;
  --color-hoverBg: #1a1f24;

  --color-textWhite: #e6e9ec;
  --color-textButton: #ffffff;
  --color-textMuted: #9aa0a6;

  /* yellow  */
  --color-yellow: #ffcb08;
  --color-blue: #24d7ff;
}

::-webkit-scrollbar {
  height: 0.5em;
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #0a0e12;
}

::-webkit-scrollbar-thumb {
  border-radius: 2.2em;
  background: #222;
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* table loading */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.6s infinite;
  background-size: 200% 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .shadow-glow {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
  }
}

/* For browsers that support it (Firefox etc.) */
.modal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #20252b transparent;
}

/* WebKit-based (Chrome, Edge, Safari, Opera) */
.modal-scroll::-webkit-scrollbar {
  width: 0.35rem; /* thinner than your global 0.4em */
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent; /* or #05070a if you want a hint of track */
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #20252b;
  border-radius: 999px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #303741;
}
